/* * {
  box-sizing: border-box;
} */

html,
body {
  /* TODO: font-family */
  color: #333;
  scroll-behavior: smooth;
}

/* Header/ Navbar */
header {
  min-height: 70px;
  background-color: #C37960;
}

header nav i {
  margin-left: 1.5rem;
}

header nav a {
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
}

header nav a:hover {
  font-weight: 600;
  color: #333;
  border-bottom: .1em solid #333;
}

/* Main */
main {
  min-height: 100vh;
}

main .card-link {
  color: #333;
  text-decoration: none;
}

main .card-link:hover {
  color: #333;
  opacity: 0.7;
}

main .card {
  width: 25rem;
  margin: auto;
}

main .card footer {
  background-color: #F0D7A7;
}

main .card footer h2 {
  color: #333;
}


/* Footer */
footer {
  min-height: 150px;
  background-color: #C37960;
}

footer p {
  font-size: 1.4rem;
}

/* For Debugging */
.debug {
  border: 1px solid black;
}